@model WorkShop.Models.CategorieModel


<h1>Creation Categorie</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <input type="text" name="name" id="NameId" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" name="AddNewCategorie" value="Create" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
