@model WorkShop.Models.CategorieModel


<h1>Creation d'une Categorie</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Categorie" method="post" asp-action="Create">
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label">Nom :</label>
                <div class="col-sm-9">
                    <input type="text" name="name" id="NameId" class="form-control rounded-0 d-inline" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary col-md-5" name="AddNewCategorie" value="Ajouter" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
