@model WorkShop.Web.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Ajout";
}

<h1>Creation de Produit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-controller="Product" method="post" asp-action="Create">
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label">Nom :</label>
                <div class="col-sm-9">
                    <input type="text" name="name" id="NameId" class="form-control rounded-0 d-inline" />
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    @foreach (var item in Model.Categories)
                    {

                        <div class="col-md-4">
                            <input class="mr-1"
                                   type="checkbox"
                                   name="selectedCategories"
                                   value="@item.Id"
                                   id="@item.Id" />
                            <label for="@item.Id" class="mr-2"> @item.Name </label>
                        </div>

                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary col-md-5" name="AddNewProduct" value="Create" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
