@model WorkShop.Models.ProductModel


<h1>Creation Produit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                @*@if (Model.Categories.Count == 0)
                {
                    <select asp-for="Id"
                            asp-items="@(new SelectList(Model.Categories, "Id","Name"))">
                        <option>Please select one</option>
                    </select>
                }
                else
                {

                }*@

                @* @Html.ListBoxFor(m => m.SelectedCountry, new SelectList(Model.CountryList, "Value", "Text", Model.CountryList.SelectedValue), new { @Id = "lstcountry", @style = "width:200px;height:60px;" })*@
            </div>

            <div id="NewProduct"></div>
            <div class="form-group ">
                <a class="btn btn-primary" href="#" onclick="NewProduct()">Ajout</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
